VITE_SUPABASE_URL=https://rasgfpmrgttnvvjnfdwj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJhc2dmcG1yZ3R0bnZ2am5mZHdqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3MjEwMTEsImV4cCI6MjA5MTI5NzAxMX0.1kJ2wVLrQBtKJDTpyVCnQ5iTKN6XFKJ8R6LDgBLUU38
