@import "tailwindcss";

@theme {
  --color-navy: #002855;
  --color-cream: #FDFBF7;
  --color-gold: #C5A059;
  
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-cream);
  color: var(--color-navy);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .font-serif {
  font-family: var(--font-serif);
}